.gray {
  color: #919aa1;
}

.bg-gray {
  background-color: #eceeef;
}

.nav-link {
  color: #000;
}

.nav-title {
  color: #fff;
}
#homepage-tabs .nav-item a:hover {
  color: #1f9bcf !important;
}
#homepage-tabs .nav-title {
  font-size: 18px;
}
#navbar {
z-index: 3;
transition: top 0.4s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.sticky + div {
  margin-top: 100px !important;
}

.headline {
  box-shadow: rgba(50, 50, 93, 0.25) 0px -13px -27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-link {
  padding: .5rem !important;
}
.center {
  align-items : center;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.parent {
   overflow: hidden;
   cursor: pointer;
}

.btn:hover h3 {
  color:#63bcc9;
}
